<section class="my-4 max-w-5xl mx-auto">
  <div class="text-3xl font-bold mb-8">Projects</div>

  <div class="grid grid-cols-2 gap-4">
    <!-- Work Experience -->
    <div>
      {{ range .Site.Params.homepage.projects.itemleft}}
      <div>
        <a target="_blank" herf="{{.url}}"><div class="text-xl font-bold my-2">{{.name}}</div></a>
        <p class="my-1 font-light">{{.description}}</p>
      </div>
      {{ end }}
    </div>

    <!-- Skills -->
    <div>
      {{ range .Site.Params.homepage.projects.itemright}}
      <div>
        <div class="text-xl font-bold my-2">{{.name}}</div>
        <p class="my-1 font-light">{{.description}}</p>
      </div>
      {{ end }}
    </div>
</section>
